In [1]:
import pandas as pd

In [3]:
file_path = 'day_1_data.txt'

In [4]:
# Read the text file into a DataFrame
df = pd.read_csv(file_path, delimiter='\t', header=None)
df.columns = ['text']

In [7]:
df

                                     text
0                                  zlmlk1
1          vqjvxtc79mvdnktdsxcqc1sevenone
2                    vsskdclbtmjmvrseven6
3                     8jkfncbeight7seven8
4                             six8dbfrsxp
..                                    ...
995                          3627837xhhb8
996                           bmjhkkn4pgf
997                           qkrsvjclp23
998  5fourzllbmcgkxsevengkrzkpvcmvgtxlrv6
999      fivetczxxvjrrqfive1sevennvj6one3

[1000 rows x 1 columns]

In [18]:
df['text'].str.extractall(r'(\d)').unstack().fillna('').sum(axis=1)

0             1
1           791
2             6
3           878
4             8
         ...
995    36278378
996           4
997          23
998          56
999         163
Length: 1000, dtype: object

# Part 2

In [1]:
# Part 2 ---
# It looks like some of the digits are actually spelled out with letters: one, two, three, four, five, six, seven, eight, and nine also count as valid "digits".

keymap = {
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'seven': 7,
    'eight': 8,
    'nine': 9,
}

In [6]:
[i for i in keymap.keys()]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']